@page "/counter"
@inherits CounterBase
@namespace DessertRate.Pages

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">My Current count: @CurrentCount</p>

<img src="https://dl.dropboxusercontent.com/scl/fi/l867c105n0epv972h16vv/dessert5.jpg?rlkey=d6yiese7ddy2awpk9p14ihztb&dl=0"
    width="300" height="200" />

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Save">Save</button>
